.mobile-content {
  display: none; }

.mobile-nav ul li {
  display: none; }

@media screen and (max-width: 480px) {
  .main-nav {
    display: none; }

  .follow-trends {
    display: none; }

  .followers {
    display: none; }

  .photos-videos {
    display: none; }

  .profile-nav {
    display: none; }

  .t-button li {
    display: none; }

  .profile-bg {
    background-size: cover; }

  .profile-card {
    display: none; }

  .buttons {
    display: none; }

  /* mobile extra content in html*/
  .mobile-content {
    display: block;
    transform: translateX(40px);
    margin: 30px 15px; }

  .firm-name {
    margin-top: 20px; }

  .mobile-icons ul li {
    display: inline-block;
    transform: translateX(195px); }

  .mobile-intro {
    margin-bottom: 9px; }

  .mobile-intro h1 {
    line-height: 10px;
    font-size: 2em; }

  .intro-detail {
    margin-top: 8px; }

  .mobile-link {
    color: #328dc7; }

  .mobile-location {
    margin: 8px 0; }

  .profile-tweets {
    margin-top: 230px;
    width: 100%;
    transform: translateX(-40px); }

  .logo-large {
    transform: translateY(70px); }

  /* header image*/
  .profile.bg {
    background-size: cover; }

  /*mobile footer */
  .mobile-nav ul li {
    display: inline-block;
    position: absolute;
    bottom: 0; } }
