$nav-bgColor: #fff;
$button-color: #328dc7;
.main-nav {
    li {
        display: inline-block;
        padding:9px;
    }
    
}



/* main nav positioning*/

.text-left {
    margin-top:20px;
}

.text-center {
    margin-top:20px;
}

.text-right {
    margin-top:9px;
}

form  {
    transform:translateY(-10px);
}

.profile-bg {
    background:url('../images/hero.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 463px;
}

.home-nav {
    text-decoration: none;
    color:$text-color;
}

.home-nav:hover {
    color:$button-color;
    border-bottom: 4px solid $button-color;
    padding-bottom:22px;
    transition: all 0.5s ease-out;
}

a {

   text-decoration: none;
   color:$text-color;
}

.fa-twitter {
    color: $tweet-color;
    padding-top: 10px;
    font-size:1.5em;
}

.search-box {
    display: inline-block;
    list-style: none;
    transform:translateX(4em);
}

/* sub nav-list in the middle of the page*/
.nav-list {
    transform: translateX(15px);
    height:60px;
}
.nav-list li:hover {
    border-bottom: 4px solid $button-color;
    transition: all 0.15s ease-in-out;
    padding-bottom:14px;
}

/* footer in the very bottom of trends*/

.main-footer .footer-b:hover {
    color: $button-color;
    text-decoration: underline;
}


/* scroll to top bar */










