$link-color:#318dc8;
$bg-color:#f4f7fa;
$tag-color: #8899a6;

.firm-intro {
	margin-top:-180px;
}

.profile-card {
	margin-bottom: 20px;
}

.firm-name {
	margin: 10px 0;
}

.intro-detail {
	margin-bottom:8px;
}

.info {
	margin-bottom:6px;
}

.link {
	color: $link-color;
	cursor:pointer;
}

.specs {
	color: $tag-color;
}

.followers {
	margin: 25px 0;
} 
.followers img {
	width: 230px;
	cursor:pointer;
}
.photos-videos img {
	width: 230px;
	cursor:pointer;
}

.fa-check-circle-o {
	color: $link-color;
}
.firm-link {
	color: $link-color;
}
.firm-link:hover {
	border-bottom: 1px solid $link-color;
}
/* show this media query for laptop*/
.media-laptop {
	display: none;
}

.follow-trends {
	margin:10px 0;
}

.profile-tweets {
   margin:10px 0;
}





